.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container_dashboard {}

footer {
    width: 100%;
    height: 10vh;
    background-color: #011E41;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}